.container-detail {
    font-family: 'Press Start 2P', sans-serif;
    margin-right: 25px;
}

.container-detail label {
    color: var(--medium-shade);
    font-size: 0.65rem;
}
.container-detail p, 
.container-detail span {
    color: var(--primary-shade);
    font-size: 1rem;
    font-weight: bold;

    margin: 10px 0;
}

.container-poke-status {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.container-poke-status .status {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 200px;
}

.detail{
    margin-right: 30px;
}
